@{
    ViewBag.Title = "About Us";
}



<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <h1 class="display-4 card-body text-center" style="font-size:2.5rem!important;">"Health is much more wisely maintained than repaired once lost"</h1>
        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-7 pl-3 pr-0">
        <img class="img-fluid" src="~/Content/Images/farm2.jpg" />
    </div>
    <div class="col-md-5 pl-0 pr-3">
        <div class="card h-100">
            <h4 class="card-title text-center p-2 display-4" style="font-size:1.5rem!important;">
                Our Start
            </h4>
            <p class="card-body">
                We began operating a cattle ranch in central Kansas during the 1950’s, and were dependent on the health of our
                animals. Our family organization began developing our own products and administiring them to our animals. Over
                time, we refined the use and practical application of Direct Fed Microbials (DFM).  These DFM are fundamental
                in our Prebiotic/Probiotic powdered supplements and the overall health of an animal. Over the years we have
                tested and evaluated the effects our DFMs have on animals to create a probiotic that will significantly increase
                the health of your animal.
            </p>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-5 pl-3 pr-0">
        <div class="card h-100">
            <h4 class="card-title text-center p-2 display-4" style="font-size:1.5rem!important;">
                Our Mission
            </h4>
            <p class="card-body">
                Our mission is to improve the health of your animal. We strive to accomplish this by staying committed 
                to using high quality, all natural ingredients. Whether its a companion animal or livestock we understand 
                importance of lifelong health. Our supplements aim to proactively maintain your animals health on a day to day
                basis rather than treating a problem as it occurs. 
            </p>
        </div>
    </div>
    <div class="col-md-7 pl-0 pr-3">
        <img class="img-fluid" src="~/Content/Images/horse.jpg" />
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 py-0">
        <div class="card">
            <div class="card-title text-center p-2 display-4 mb-0" style="font-size:1.5rem!important;">
                Our Customers
            </div>
            <div class="card-body">
                Our customers and their animals are of the upmost importance to us. We pride ourselves in positive customer 
                feedback and strive to have healthy animals and happy customers. Here is what a few customers had to say!
            </div>
            <div class="my-2  mb-1 container-fluid">
                <div class="row flex-row flex-nowrap" style="overflow-x:scroll;">
                    <div class="col-md-8 d-flex mb-1">
                        <div class="card flex-fill">
                            <div class="card-body">
                                <p>
                                    "Your formula saved the life of a "pound puppy" -- he nearly died from a kennel born virus, even antibiotics didn't help.  the pup did make a comeback just days after we got him started on your product!  Even the family cat eats it!"
                                </p>
                                <footer class="blockquote-footer">David Mack, Top Dog Endeavors</footer>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex mb-1">
                        <div class="card flex-fill">
                            <div class="card-body">
                                <p class="p-1">
                                    "Our dog Charlie has not had icky ozzy feet for over a year, thanks to your product.  Two years with no additional special shampoos and meds.  We recommend "Universal Probiotics" to all of our family and friends!
                                </p>
                                <footer class="blockquote-footer">
                                    Mike and Janet, Kansas
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex mb-1">
                        <div class="card flex-fill">
                            <div class="card-body">
                                <p>
                                    "I feed (your product) in their feed daily.  I no longer have to buy vitamins -- I have saved a lot of money from not having to buy all the different vitamins."
                                </p>
                                <footer class="blockquote-footer">
                                    Tom Thomas, Silver Hawk Kennels
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex mb-1">
                        <div class="card flex-fill">
                            <div class="card-body">
                                <p>
                                    "I am disabled and have a service dog who developed a problem with her digestive tract.  The doctor put her on different medications and all the "recommended" foods... she continued to throw up.  By chance I came across your product...  she got better immediately...  I pay a little more for your product, but if you love your pet, or like me, depend on a service dog who is my constant companion and friend, it is well worth the price to have the best for your pet."
                                </p>
                                <footer class="blockquote-footer">
                                    Sammy M.
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>