@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12" style="margin-bottom:-85px; z-index:998;">
    <h1 class="display-4 card-body text-center" style="font-size:2.5rem!important;">Welcome to Universal Probiotics!</h1>
</div>
<div class="row mt-4" style="height:500px; overflow:hidden">
    <div class="col-md-12">
            <img class="img-fluid" style="padding-top:1px;"src="~/Content/Images/grain.png" />
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h1 class="display-4 card-body text-center" style="font-size:2.5rem!important;">Our Products are:</h1>
        <hr />
    </div>
    <div class="col-md-4">
        <h4 class="card-title text-center p-2 display-4" style="font-size:1.5rem!important;">Unique</h4>
        <p class="card-body">
            Our products include a unique and proprietary blend of <strong>probiotic bacteria</strong>, yeasts and molds 
            combined with prebiotics.  This encourages the growth of beneficial organisms in the digestive system by providing
            food for the probiotics as they colonize the animal's intestines.  
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="card-title text-center p-2 display-4" style="font-size:1.5rem!important;">Proven</h4>
        <p class="card-body">
            Universal Probiotics products promote <strong>clinically proven</strong> digestive health, nutrient absorption as
            well as good inhibitory activity against common enteric pathogens. Once digestive health is restored (or maintained) the overall well-being of the animal is improved.
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="card-title text-center p-2 display-4" style="font-size:1.5rem!important;">Diverse</h4>
        <div class="card-body">
            <p class="mb-0">
                We offer supplements specially formulated for
                each of the following animal species:
            </p>
            <ul class="list-unstyled pl-2">
                <li>Dogs</li>
                <li>Cats</li>
                <li>Cows</li>
                <li>Horses</li>
                <li>Goats</li>
                <li>Chickens</li>
                <li>Turkeys</li>
                <li>Pigs</li>
            </ul>
        </div>
    </div>
</div>