@model UniversalProbiotic.Models.Product
@{
    ViewBag.Title = "UploadImages";
}

<h2>UploadImages</h2>
@using (Html.BeginForm("UploadImages", "Home", FormMethod.Post,
new { enctype = "multipart/form-data" }))
{

    @Html.EditorForModel()
    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.PictureData == null)
        {
            @:None
        }
        else
        {
            <img width="150" height="150"
                 src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
        }
        <div>Upload new image: <input type="file" name="Image" /></div>
    </div>
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}