@model UniversalProbiotic.Models.Product
@{
    ViewBag.Title = "ViewSingleProduct";
}

@{
    /* To upload photos
     *
@Html.ActionLink("UploadImage", "UploadImages", "Home", new {  id = Model.ProductID}, new {  @class = "btn btn-primary"})
    */
}

<div class="row">
    <div class="col-md-12">
        <div class="display-4 text-center" style="font-size:3rem!important;">@Model.Name</div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-title text-center">
                Product Details
            </div>
            <hr class="mx-3 mt-0" />
            <div class="card-text ml-2">
                - 1lb. Per Unit<br />
                - $5.95 Shipping and Handling<br />
                - $@Model.Price per unit
            </div>
            <hr class="mx-3 mt-0" />
            <div class="form-inline mb-3">
                @using (Html.BeginForm("AddCart", "Home", FormMethod.Post))
                {
                    <input type="hidden" value="@Model.ProductID" name="id" />
                    <input type="number" value="1" name="quantity" min="1" max="20" placeholder="--" />                  
                    <input type="submit" value="Add to Cart" class="btn btn-sm btn-outline-secondary" />
                }
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<script>

</script>