
@{
    ViewBag.Title = "ViewCart";
    decimal PurchaseTotal = 0;
}
@using UniversalProbiotic.Models

<div class="row">
    <h4 class="text-center mt-3 p-2 mb-0 display-4" style="font-size:1.5rem!important;">Your Cart</h4>
</div>
<hr class="mt-0" />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-title text-center">
                Cart Items
            </div>
            <hr class="mx-3 mt-0" />
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in (List<Order>)Session["cart"])
                {
                    PurchaseTotal += item.OrderTotal;
                <tr class="text-center mt-3 p-2 mb-0 display-4" style="font-size:.95rem!important;">
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.OrderQuantity
                    </td>
                    <td>
                        $@item.OrderTotal
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "RemoveFromCart", "Home", new { id = item.OrderID }, null)
                    </td>
                </tr>
                }
            </table>
            <hr class="mx-3 mt-0" />
            
            @PurchaseTotal
</div>
    </div>
    <div class="col-md-2"></div>
</div>

