@model IList<UniversalProbiotic.Models.Product>
@{
    ViewBag.Title = "ViewAllProducts";
    int counter = 0;
}

<div class="row">
    <h4 class="card-title text-center p-2 display-4" style="font-size:1.5rem!important;">Our Products</h4>
    <hr />
</div>
<div class="col-lg-12">
    @foreach (var item in from i in Model.Select((value, index) => new { value, index }) group i.value by i.index / 3 into g select g)
    {
        <div class="row">

            @foreach (var product in item)
            {
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-title">@product.Name</div>
                        <div class="card-img-top">
                            <img src="@Url.Action("GetImage", new {  id = product.ProductID})" />
                        </div>
                    </div>
                </div>
            }






        </div>
    }
</div>